# RubyMine-specific files
.idea/
*.iml
*.ipr
*.iws

# System files
.DS_Store
Thumbs.db

# Logs
log/*.log
log/*.log.*
tmp/*.log
log/**/*.log

# Temporary and cache files
tmp/
tmp/**/*
!/tmp/.keep
node_modules/
yarn-error.log
coverage/
**/*.swp

# Byebug command history
.byebug_history

# Ignore secrets and credentials
config/master.key
config/credentials.yml.enc

# Bundler config
/.bundle

# Gems
/vendor/bundle

# Repositories or dependencies
.bundle/
/vendor/
/.venv

# Uploaded files
/public/uploads
/storage/*
!/storage/.keep

# Spring files
/tmp/pids
/tmp/cache
/tmp/sockets
/tmp/sockets/**
/tmp/spring

# Environment variables file
.env
.env.*

# Database files
/db/*.sqlite3
/db/*.sqlite3-journal
/db/*.sqlite3*
# Exclude PostgreSQL dumps
*.sql
*.dump

# Ignore build-related files
/coverage/
/public/assets/
/public/packs
/public/packs-test
/node_modules/
/byebug_history

# Ignore lock files for the database
*.sqlite3*
# PostgreSQL backups and dumps
*.pgdata
*.backup

/config/master.key
secrets.yml
